@font-face {
  font-family: "Sans Source Pro";
  src: url("../fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Spin Cycle";
  src: url("../fonts/spincycle_ot.otf");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Set button and link caracteristics */
a:hover{
  color: #FF6565;
}
a:active{
  color: #FF6565;
}
button:active{
  opacity: 0.9;
}
button:hover{
  opacity: 0.9;
}
body{
  max-width: 1000px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Sans Source Pro", "Spin Cycle";
  color: white;
  
}
header{
  width: 100%;
  height: 80px;
  position: relative;
}
.container{
  background-image: url("./images/headphones_hero_1.jpg");
  background-size: cover;
  background-position: center;
  width: 100em;
  height: 85em;
  top: 0;
  left: 0;
  z-index: 0;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  padding: 50px;
}
nav ul li a{
  color: white; /* Couleur du texte */
  font-size: 12px;
  font-weight: bold;
  text-decoration: none; /* Retire le soulignement */
  text-transform: uppercase;
}
header nav img{
  cursor: pointer;
}
.title{
  text-align: center;
  font-size: 80px;
  margin-bottom: 50px;
  margin-top: 500px;
  margin-left: 5rem;
  margin-right: 5rem;
}

main section:first-child div p{
  font-size: 16px;
  font-weight: bold;
  padding: 0px 50px;
  display: block;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
button{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #FF6565;
  color: white;
  box-shadow: inset;
  cursor: pointer; /* Changement de curseur */
  box-shadow: 0 4px 8px rgba(24, 23, 23, 0.2); /* Ombre */
  transition: box-shadow 0.3s ease; /* Effet de transition */
  padding: 15px 25px;
  border: none;
}

.checkbtn, #close {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {

    nav img {
      font-size: 22px;
    }
    nav{
      padding: 0 400px;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: transparent;
      top: 80px;
      left: 5px;
      text-align: center;
      transition: all .5s;
      padding: 0px;
    }
    nav ul li {
      display: block;
      margin: 0px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color:#FF6565;
    }
    #check:checked~ul {
      display: none;
      
    }
    nav img{
      padding-left: 0px;
      left: 5px;
      text-align: center;
    }
    #check:not(:checked)~label[class="checkbtn"] {
      display: none;
    }
    #check:not(:checked)~label[id="close"] {
      display: block;
    }
    #check:checked~label[class="checkbtn"]{
      display: block;
    }
    #check:checked~label[id="close"]{
      display: none;
    }
    main section:first-child h1{

      margin-top: 450px;
      margin-left: 5rem;
      margin-right: 5rem;
  
  }
  main, footer{
    flex: auto;
    flex-direction: column;
  }
 
  .container{
    background-position: center;
  }
}
.info-section{
color: black;
}

main section .first-div p{
font-size: 16px;
font-weight: bold;
padding: 0px 50px;
display: block;
text-align: center;
margin-left: 400px;
margin-right: 400px;
}
#avatar, .container-result{
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0px 100px; /* Padding around the line of image */
margin-top: 100px;
}
#avatar p{
width: 150px;
font-style: italic;
font-size: 16px;
}
#avatar h3{
font-size: 18px;
}
#result-section{
background-image: url("./images/Object.png");
margin-top: 10px;
color: white;

}
#result-section h1, #contact-form h1{
margin-top: 50px;
margin-left: 5rem;
margin-right: 5rem;
}
#contact-form{ 
color: black;
font-weight: bold;
}
form input{
border-right: none;
border-left: none;
border-top: none;
border-color: black;
margin-bottom: 10px;
}
form label{
text-align: left;
}
label,
input{
font-size: 1.3rem;
line-height: 1.2;
}

form {
width: 30em;
max-width: 90%;
margin: 0 auto;
}

label {
/* margin-bottom: 0.4rem; */
padding-top: 1rem;
display: block;
}

input{
padding: 0.4rem;
width: 100%;
height: 0%;
}
footer section{
position: relative; /* Changez fixed en relative ou static */
bottom: 0; /* Vous pouvez ajuster ceci selon votre mise en page */
top: 0;
width: 100%; /* Pour que le footer prenne toute la largeur */
background-color: rgb(7, 22, 41);
height: 60%;
margin-top: 200px;
}
footer section div{
display: flex;    /* Use flexbox layout */
justify-content: space-between; /* Space between the logo and menu */
align-items: center; /* Center items vertically */
padding: 50px 100px; /* Padding around the navbar */
}
footer section p{
font-size: 12px;
color: white;
padding-top: 80px;
padding-bottom: 100px;
text-align: center;
}
.pentagon-1, .pentagon-2, .pentagon-3, .pentagon-4 {
position: relative;
width: 157.5px;
height: 150px;
background:#FF6565;
clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}
